<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="icon" href="/static/image/student_3540.png.ico">
    <link rel="stylesheet" href="/static/css/main_style.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
{% include '_header.html' %}
<body>
    <h1>About Us</h1>
    <p>Welcome to the Student Grievance Portal.</p>
    <p>This portal is designed to help students submit their grievances and issues related to their academic experience.</p>
    <p>We are committed to providing a supportive environment for all students.</p>
    <p>If you have any questions or need assistance, please contact us at</p>
    <div class="contact-info">
        <ul>
           <li>Email :: kashi@gmail.com</li>
           <li>Phone Number :: 9565950631</li>
           <li>Website :: www.kashiit.ac.in</li>
        </ul>
    </div>
</body>
</html>