<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/status.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>Status</title>
</head>
{% include '_header.html' %}
<body>
    <h1>Track the status of your complain here.</h1>
    <form action="#" method="post">
        {% csrf_token %}
        <label for="complain_id">Complain ID:</label>
        <input type="text" id="complain_id" name="complain_id" required>
        <button type="submit">Check Status</button>
    </form>
    {% if status %}
        <h2> {{ status }}</h2>
    {% endif %}
    
    
</body>
</html>